* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: 0;
}

body {
  background-color: black;
  font-family: 'Helvetica Neue', 'Helvetica', serif;
/*  font-family: 'Roboto Slab', serif;*/
  font-size: 15px;
}

html, body {
	height: 100%;
  background-color: white;  
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

#main-header {
  z-index: 1024;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: white;
  padding: 8px 15px;
}

#back .map-header {
  display: block;
}

.leaflet-container {
  background-color: white !important;
}

.map-container {
  position: absolute;
}

.map {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-header {
  display: none;
  z-index: 999;
  background-color: white;
  position: absolute;
  height: auto;
  
  /*width: 100%;*/
  
  margin: 15px;
}

.map-header .map-header-wrapper {
  /*padding: 3px;*/
  padding: 5px 10px;
}

.map-container.top .map-header {
  top: 0;
}

.map-container.bottom .map-header {
  bottom: 0;
}

.map-header h2,
.map-header p {
  display: inline;
}

a {
  text-decoration: none;
}

/*a .map-header h2 {
  text-decoration: underline;
}*/

.header h3,
a .map-header span.link {
  text-decoration: underline;
}

a,
a:hover,
a:visited {
  color: black;
}

.map-header h2 {
  margin-right: 5px;
}

.map-header span {
  margin-right: 5px;
}

.map-container:hover .map-header {
  display: block;
}

#single-map-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 580px;
  bottom: 0;
  margin: 5px;
}


#single-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 580px;
  height: 100%;
  overflow-y: scroll;
  font-size: 18px;
}

#sidebar p, #sidebar h1, #sidebar h2, #sidebar h3 {
  padding: 10px 20px;
}

#sidebar h1 {
  font-size: 30px;
  padding-bottom: 0;
}

#sidebar h2 {
  font-size: 23px;
}

#sidebar h3 {
  font-size: 19px;
  padding-top: 0;
}

#sidebar img, 
#sidebar .caption {
  margin-left: 15px;
  font-size: 13px;
}

#sidebar .caption {
  display: block;
  margin-bottom: 20px;
}

#introduction,
#sidebar li { 
  padding-bottom: 50px;
}

#waag-mini {
  top: 2px;
  position: relative;
}